<div class="bg-light min-vh-100 d-flex flex-row">
    <c-container>
      <c-row class="justify-content-center">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="paymentParam" (ngSubmit)="GetPaymentHistoryData()">
                <c-row class="row end-xs mt-1">
                    <c-col>
                        <c-row>
                          <c-col>
                            <div style="display: flex; flex-direction: row; padding-left: 10px;">
                              <div >
                                <select [class.is-invalid]="
                                paymentParam.get('cons_type').errors &&
                                paymentParam.get('cons_type').touched" style="height: 50px; width:200px;" #selectType  id="cons_type"  required aria-label="Default select example" cSelect formControlName="cons_type" name="cons_type" class="selector">
                                    <option value="" selected disabled hidden>Select Type</option>
                                    <option value="retail" >Retail</option>
                                    <option value="bulk" >Bulk</option>
                                  </select>
                                  <div class="invalid-feedback" *ngIf="paymentParam.get('cons_type').hasError('required')" > 
                                    Please Select Consumer Type
                                </div>
                                </div>
                                <div style="width: 10px;"></div>
                                <div>
                                  <input
                                  [class.is-invalid]="paymentParam.get('cons_no').errors && paymentParam.get('cons_no').touched "
                                  required
                                  cFormControl
                                  formControlName="cons_no" 
                                  name="cons_no"
                                  matInput
                                  type="text"
                                  class="searchbox"
                                  placeholder="Consumer Number"
                                  style="width: 200px; height: 50px;"
                                />
                                <div class="invalid-feedback" *ngIf="paymentParam.get('cons_no').hasError('required')" > 
                                  Please Enter Consumer Number
                              </div>
                                </div>
                                <div style="width: 10px;"></div>
                              <mat-form-field id="date" style="width: 200px;" >
                                  <mat-label style="color: black;">FROM</mat-label>
                                  <input  autocomplete="from" id="from" formControlName="from" name="from" required cFormControl  matInput [matDatepicker]="from">
                                  <mat-datepicker-toggle style="color: #0f69fa;" matIconSuffix [for]="from"></mat-datepicker-toggle>
                                  <mat-datepicker #from color="primary"></mat-datepicker>
                                </mat-form-field>
                                <div style="width: 10px;"></div>
                                <mat-form-field id="date" style="width: 200px;" >
                                  <mat-label style="color: black;">TO</mat-label>
                                  <input autocomplete="to" id="to" formControlName="to" name="to" required cFormControl   matInput [matDatepicker]="to">
                                  <mat-datepicker-toggle style="color: #0f69fa;" matIconSuffix [for]="to"></mat-datepicker-toggle>
                                  <mat-datepicker #to color="primary"></mat-datepicker>
                                </mat-form-field>
                          </div>
                          </c-col>
                          <c-col  style="display: flex; flex-direction: row;  align-items: center;">
                            <div class="form-group my-1 mx-3">
                              <button style="height: 50px; width: 80px;" class="btn btn-primary primary_color" type="submit">Submit</button>
                            </div>
                            <ng-template [ngIf]="showpdfbutton === true">
                              <div class="form-group my-1 mx-3" >
                                <button style="height: 50px;"  class="btn btn-primary primary_color" type="button" (click)="downloadBill()">Download Bill</button>
                              </div>
                            </ng-template>
                          </c-col>
                          <!-- <c-col>
                            <input
                            cFormControl
                            matInput
                            type="text"
                            class="searchbox"
                            placeholder="searching here..."
                            style="width: 200px; height: 50px; margin-right: 10px;"
                          />
                          </c-col> -->
                        </c-row>
                    </c-col>
                    
                </c-row>
              </form>
              <div class="container">
                  <div class="mat-elevation-z8">
                    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
                      <ng-container matColumnDef="bill_period">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>BILL PERIOD</th>
                        <td mat-cell *matCellDef="let paymentHistory">{{ paymentHistory.bill_period | date: "YYYY-MM" }}</td>
                      </ng-container>
                
                      <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>AMOUNT</th>
                        <td mat-cell *matCellDef="let paymentHistory">
                          {{ paymentHistory.water + paymentHistory.sewerage + paymentHistory.conservancy + paymentHistory.fire + paymentHistory.water_surcharge + paymentHistory.bank_charges | number }}
                        </td>
                      </ng-container>

          
                      <ng-container matColumnDef="payment_date">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>PAYMENT DATE</th>
                          <td mat-cell *matCellDef="let paymentHistory">{{ paymentHistory.payment_date | date: "dd-MM-YYYY" }}</td>
                        </ng-container>
                
                        <!-- <ng-container matColumnDef="show">
                          <th mat-header-cell *matHeaderCellDef>ACTION</th>
                          <td mat-cell *matCellDef="let paymentHistory">
                            <a>
                              <mat-icon style="color: #0f69fa;">remove_red_eye</mat-icon>
                            </a>
                          </td>
                        </ng-container> -->
  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <mat-paginator
                    [hidden]="!dataSource.data.length" 
                    [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page"
                  >
                  </mat-paginator>
                  <div>
                    <h4 class="errorMessage">{{error}}</h4>
                  </div>
                  </div>
                </div>    
          </c-card-body>
          </c-card>
        </c-card-group>
      </c-row>
    </c-container>
  </div>
  