.form-control:focus {
  // border-color: gray;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.primary_color {
  background-color: #0f69fa;
  border: 0px;
}

.form-select:focus {
  // border-color: gray;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control{
  border-color: #0f69fa;
}

.form-select{
  border-color: #0f69fa;
}


.errorMessage {
  color: red;
  text-align: center;
  margin-top: 10px;
}